<div class=" align-items-center">
    <div class="card bg-light mb-3 mx-auto" style="max-width: 80rem">
        <div class="card-header text-center"><h3>Quotation</h3></div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card-body">
              <h5 class="card-title">Sender</h5>
              <p class="card-text">
                {{quot.SourceCity + ", " + quot.SourceState + ", " + quot.SourceCountry }}
              </p>
            <p>{{quot.Weight}}</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card-body">
              <h5 class="card-title">Receiver</h5>
              <p class="card-text">
                {{quot.DestinationCity + ", " + quot.DestinationState + ", " + quot.DestinationCountry }}
              </p>
            </div>
          </div>
          <div class="col-lg-4">
            <!-- <div class="text-center">Rate: <b>{{quot.Distance}}</b></div> -->
          </div>
          
          
        </div>
        <div class="text-center">Weight: <b>{{quot.Weight}}</b></div>
        <div class="text-center">Weight: <b>{{quot.Weight}}</b></div>
        
        </div>
        
        
</div>